
html, body {
  margin: 0;
  padding: 0;
  background: #293134;
  color: #678cb1;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 60px; 
}

body {
  width: 860px;
  margin: 80px auto;
}

#heading:after {
    clear: both;
    content: "";
    display: block;
}

h1#title {
  display: block;
  float: left;
  font-size: 100px;
  font-weight: bold;
  margin-top: 53px;
}

#scores-newgame-container {
  float: right;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

#score-container, #best-container {
  background: #678cb1;
  border-radius: 10px;
  display: inline-block;
  padding: 15px 25px;
  position: relative;
  text-align: center;
}

#plus-container {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.plus-container-animation {
  -webkit-animation: move-up 400ms ease-in;
     -moz-animation: move-up 400ms ease-in;
          -o-animation: move-up 400ms ease-in;
               animation: move-up 400ms ease-in;
}

@-webkit-keyframes move-up { 0% { opacity: 0.7; top: 50px; } 100% { opacity: 0; top: -50px; } }
   @-moz-keyframes move-up { 0% { opacity: 0.7; top: 50px; } 100% { opacity: 0; top: -50px; } }
        @-o-keyframes move-up { 0% { opacity: 0.7; top: 50px; } 100% { opacity: 0; top: -50px; } }
             @keyframes move-up { 0% { opacity: 0.7; top: 50px; } 100% { opacity: 0; top: -50px; } }


#new-game {
  margin-top: 10px;
  margin-left: auto;
  clear: both;
  background: #476c91;
  border-radius: 10px;
  display: block;
  padding: 15px 25px;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  color: white;
  font-weight: bold;
}

#game-container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;    
    background: #577ca1;
    border-radius: 6px;
    cursor: default;
    margin-top: 40px;
    padding: 15px;
    position: relative;
}

.grid-row:after {
    clear: both;
    content: "";
    display: block;
}

.grid-row {
    margin-bottom: 15px;
}

.grid-row:last-child {
    margin-bottom: 0px;
}

.grid-cell {
    background: #97bce1;
    border-radius: 3px;
    float: left;
    height: 110px;
    margin-right: 15px;
    width: 407.5px;
    text-align: center;
    padding-top: 50px;
    color: white;
}

@-webkit-keyframes blacken { 0% { background: #97bce1; } 100% { background: #000000; } }
   @-moz-keyframes blacken { 0% { background: #97bce1; } 100% { background: #000000; } }
        @-o-keyframes blacken { 0% { background: #97bce1; } 100% { background: #000000; } }
             @keyframes blacken { 0% { background: #97bce1; } 100% { background: #000000; } }


.grid-cell-populated {
    -webkit-animation: blacken 10s;
       -moz-animation: blacken 10s;
            -o-animation: blacken 10s;
                 animation: blacken 10s;
}

.grid-cell:last-child {
    margin-right: 0;
}
